<div class="wrapper">
  <div class="page-header" style="background-image: url('./assets/img/bank.jpg');">
    <div class="filter"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-sm-6 mr-auto ml-auto">
          <div class="card card-register">
            <h3 class="title">Welcome</h3>
            <div class="social-line text-center">
              <p>Enter Your Login Details</p>
            </div>
            <form *ngIf="!isLoggedIn" name="form" (ngSubmit)="f.form.valid && onLogin()" #f="ngForm" novalidate>
              <label>Username</label>
              <div class="input-group form-group-no-border">
                <div class="input-group-prepend">
                                  <span class="input-group-text">
                                      <i class="nc-icon nc-single-02"></i>
                                  </span>
                </div>
                <input type="text" class="form-control" name="username" placeholder="Username" id="username"
                       [(ngModel)]="form.username" required #username="ngModel">
              </div>
              <div
                class="alert alert-danger"
                role="alert"
                *ngIf="username.errors && f.submitted"
              >
                Username is required!
              </div>
              <label>Password</label>
              <div class="input-group form-group-no-border">
                <div class="input-group-prepend">
                                  <span class="input-group-text">
                                      <i class="nc-icon nc-key-25"></i>
                                  </span>
                </div>
                <input type="password" class="form-control" placeholder="Password" id="password" [(ngModel)]="form.password"
                  name="password" required minlength="4" #password="ngModel">
              </div>
              <div
                class="alert alert-danger"
                role="alert"
                *ngIf="password.errors && f.submitted"
              >
                <div *ngIf="password.errors['required']">Password is required</div>
                <div *ngIf="password.errors['minlength']">
                  Password must be at least 6 characters
                </div>
              </div>
              <button class="btn btn-danger btn-block btn-round" type="submit">Login</button>
              <div class="form-group">
                <div
                  class="alert alert-danger"
                  role="alert"
                  *ngIf="f.submitted && isLoginFailed"
                >
                  Login failed: {{ errorMessage }}
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
